@tailwind base;

@tailwind components;

[x-cloak] {
    display: none !important;
}

.card + .card {
    @apply mt-6;
}

.map {
    @apply max-w-full;
    max-height: 450px;
    height: 67.5vw;
    width: 90vw;
}

@screen lg {
    .map {
        max-width: 600px;
    }
}

@tailwind utilities;
